@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

.App {
  font-family: 'Outfit', sans-serif;
  padding-right: 0px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.one {
  text-align: center;
  background-color: white;
  border-right: 1px solid black;
  min-height: 100vh;
}

.about-div {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding-right: 10px; 
  padding-left: 10px;
}

.about {
  font-size: 18px;
}

.about-header {
  font-size: 25px;
  margin-top: 20px;
}

.two {
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.prompt {
  margin-top: 30px;
  width: 60vw;
  color: #404040 !important;
}

label.Mui-focused {
  color: #404040 !important;
}

.MuiOutlinedInput-root {
  border-color: #404040;
}

.Mui-focused fieldset {
  border-color: #404040;
}

.MuiInput-underline:before {
  border-color: #404040;
}

.MuiInput-underline:hover:before {
  border-color: #404040;
}

.MuiInput-underline-24:hover:not(.MuiInput-disabled-23):not(.MuiInput-focused-22):not(.MuiInput-error-25):before {
  border-bottom: 2px solid rgb(255, 255, 255) !important;
}

.MuiInput-underline:after {
  border-color: #404040;
}

div.container {
  margin-right: 0px;
  margin-left: 0px;
}

.errModalclose {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 8px;
}

.errModalclose:hover {
  color: #404040; 
  font-weight: bold;
  cursor: pointer;
}

.errModal {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  align-content: center;
}

.styleModal {
  background-color: white;
  width: 30vw;
  margin-top: 45vh;
  padding: 10px;
  margin-left: 35vw;
  border: 1px solid black;
  border-radius: 1%;
}

.styleModal:active {
  border: 1px solid black;
  outline: 0px;
}

.styleModal:focus {
  border: 1px solid black;
  outline: 0px;
}

.styleModal::selection {
  border: 1px solid black;
  outline: 0px;
}

.styleModal:focus-visible {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2 {
  background-color: white;
  width: 50vw;
  height: 70vh;
  margin-top: 15vh;
  padding: 10px;
  margin-left: 25vw;
  border: 1px solid black;
  padding: 20px;
  border-radius: 1%;
  overflow-y: auto;
}

.styleModal2:active {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2:focus {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2::selection {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2:focus-visible {
  border: 1px solid black;
  outline: 0px;
}

.unitList {
  padding: 8px;
}

.unitList:hover {
  background-color: #c2c1c0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}

.unfortunate {
  margin-top: 45vh; 
  
}

input {
  border-bottom: 1px solid black;
  border-left: 0px; 
  border-top: 0px; 
  border-right: 0px;
}