@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&family=Staatliches&display=swap');

.button {
    margin-top: 10px;
    font-size: 1.8vw;
    padding-top: 1px; 
    padding-bottom: 1px;
    padding-left: 2px; 
    padding-right: 2px;
    margin-left: 2vw; 
    margin-right: 2vw;
    border-radius: 12px;
}

.button:hover {
    cursor: pointer;
}

.button.activeClass {
    font-size: 1vw;
    color: white;
    background-color: #404040;
}

.button.inactiveClass {
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-top: 0px solid white;
    border-radius: 0%;
    color: black;
    background-color: white;
}

.button.inactiveClass:hover {
    color: #696969;
}

.home {
    font-family: 'Staatliches', cursive;
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 4vw !important;
    font-weight: bolder;
    color: #404040;
}

.home:hover {
    cursor: pointer;
}