.flexUnit {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #000000;
}

#textfield {
    width: 90vw;
    font-size: 15px;
    max-height: 20px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid #000000;
    outline: none;
    width: 200px;
    box-shadow: inset 20px 20px #ffffff;
}

#unitname {
    color: black;
    font-size: 15px;
    height: auto;
    margin-top: 15px;
}

.unit {

}

.val {

}