@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600&family=Staatliches&display=swap');

.button {
    font-size: 18px;
    padding-top: 1px; 
    padding-bottom: 1px;
    padding-right: 2px;
    margin-left: 1vw; 
    margin-right: 1vw;
    border-radius: 12px;
}

.button:hover {
    cursor: pointer;
}

.button.activeClass {
    font-size: 1vw;
}

.button.inactiveClass {
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-top: 0px solid white;
    border-radius: 0%;
    color: #818181;
    background-color: white;
}

.button.inactiveClass:hover {
    color: #818181;
}

.home {
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 1vw;
    font-size: 20px !important;
    font-weight: bold;
    color: #404040;
}

.home:hover {
    cursor: pointer;
}
