#dropdown-basic {
    /* background-color: #749672; */
    background-color: #fffff5;
    color: #000000;
    border: 0px;
    outline: none;
    box-shadow: inset 20px 20px #ffffff;
    text-align: left;
    width: auto;
}

#dropdownmenu {
    max-height: 280px;
    overflow-y: auto;
    width: 100%;
}

#dropdown {
    padding-right: 20px;
}

.flexUnit {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #000000;
}

#textfield {
    width: 90vw;
    font-size: 15px;
    max-height: 20px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid #000000;
    outline: none;
    width: 200px;
    box-shadow: inset 20px 20px #ffffff;
}

#unitname {
    padding-left: 15px; 
    padding-right: 5px;
    padding-top: 5px; 
    padding-bottom: 5px;
    color: black;
    font-size: 15px;
    height: auto;
    margin-top: 15px;
    border-radius: 2px;
}

.colour {
    background-color: #c2c1c0;
}

.favourite {
    margin-left: 15px;
}

.item {
    display: flex; 
    flex-direction: row;
    align-items: center;
    align-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}