@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

.App {
  font-family: 'Outfit', sans-serif;
  font-family: "Segoe UI", Arial, sans-serif;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
}

a {
  color: black !important;
  text-decoration: none !important;
}

i {
  color: black; 
  text-decoration: none;
  margin-right: 15px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.one {
  background-color: #f7f5f2;
  border-right: 1px solid white;
  min-height: 100vh;
  min-width: 17vw;
}

.about-div {
  display: flex; 
  flex-direction: column; 
  align-items: left;
  padding-right: 5vw; 
  padding-left: 5vw;
  height: 100vh;
  font-size: 17px;
  justify-content: center;
  color: black;
  text-decoration: none;
}

.about {
  font-size: 18px;
}

.about-header {
  font-size: 25px;
  margin-top: 20px;
}

.two {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin-left: 25px;
  overflow-y:scroll;
}

.prompt {
  margin-top: 30px;
  width: 100vw;
  color: #404040 !important;
}

div.container {
  margin-right: 0px;
  margin-left: 0px;
}

.errModalclose {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 8px;
}

.errModalclose:hover {
  color: #404040; 
  font-weight: 400;
  cursor: pointer;
}

.errModal {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  align-content: center;
}

.styleModal {
  background-color: white;
  width: 30vw;
  margin-top: 45vh;
  padding: 10px;
  margin-left: 35vw;
  border: 1px solid black;
  border-radius: 1%;
}

.styleModal:active {
  border: 1px solid black;
  outline: 0px;
}

.styleModal:focus {
  border: 1px solid black;
  outline: 0px;
}

.styleModal::selection {
  border: 1px solid black;
  outline: 0px;
}

.styleModal:focus-visible {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2 {
  background-color: white;
  width: 50vw;
  height: 70vh;
  margin-top: 15vh;
  padding: 10px;
  margin-left: 25vw;
  border: 1px solid black;
  padding: 20px;
  border-radius: 1%;
  overflow-y: auto;
}

.styleModal2:active {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2:focus {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2::selection {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2:focus-visible {
  border: 1px solid black;
  outline: 0px;
}

.unfortunate {
  margin-top: 45vh; 
  
}

input {
  border-bottom: 1px solid #a69f94;
  border-left: 0px; 
  border-top: 0px; 
  border-right: 0px;
}
