.prompt {
  margin-top: 30px;
  width: 76vw;
  color: #404040 !important;
  overflow-x: hidden;
}

div.container {
  margin-right: 0px;
  margin-left: 0px;
}

.errModalclose {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 8px;
}

.errModalclose:hover {
  color: #404040; 
  font-weight: 400;
  cursor: pointer;
}

.errModal {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  align-content: center;
}

.styleModal {
  background-color: white;
  width: 30vw;
  margin-top: 45vh;
  padding: 10px;
  margin-left: 35vw;
  border: 1px solid black;
  border-radius: 1%;
}

.styleModal:active {
  border: 1px solid black;
  outline: 0px;
}

.styleModal:focus {
  border: 1px solid black;
  outline: 0px;
}

.styleModal::selection {
  border: 1px solid black;
  outline: 0px;
}

.styleModal:focus-visible {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2 {
  background-color: white;
  width: 50vw;
  height: 70vh;
  margin-top: 15vh;
  padding: 10px;
  margin-left: 25vw;
  border: 1px solid black;
  padding: 20px;
  border-radius: 1%;
  overflow-y: auto;
}

.styleModal2:active {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2:focus {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2::selection {
  border: 1px solid black;
  outline: 0px;
}

.styleModal2:focus-visible {
  border: 1px solid black;
  outline: 0px;
}

.unitList {
  padding: 8px;
  font-weight: 400;
}

.unitList:hover {
  font-weight: 500;

  cursor: pointer;
  border-radius: 2px;
}
